/** Bold */
@font-face {
    font-family: "SF Display Bold";
    font-weight: 700;
    src: url("../fonts/SF-Compact-Display-Bold.otf");
}
/** Thin */
@font-face {
    font-family: "SF Display Thin";
    font-weight: 300;
    src: url("../fonts/SF-Compact-Display-Thin.otf");
}

